body {
  font-family: "Ubuntu";
  font-size: 2vh;
}

#initialTip {
  position: relative;
  text-align: center;
}

#correctOptionImage {
  max-height: 50vh;
  max-width: 450px;
  width: 100%;
  border: 1px solid DimGrey;
}

#progress {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 5px;
  background-color: lightgrey;
  border-radius: 2px;
  margin-top: 2vh;
  left: 50%;
  transform: translateX(-50%)
}

#bar {
  position: absolute;
  height: 5px;
  width: 0;
  background-color: Green;
  border-radius: 2px;
}

#checkBoxes {
  position: relative;
  display: table;
  margin-top: 1vh;
  left: 50%;
  transform: translateX(-50%)
}

#checkBoxes label {
  position: relative;
}

#checkBoxes input {
  position: relative;
}

#checkBoxes div {
  display: inline-block;
  padding-right: 0.75vw;
  transform: translate(0,-25%);
}


#mainContainer {
  position: relative;
  display: inline-block;
  margin-top: 3vh;
  left: 50%;
  transform: translateX(-50%)
}

#mainContainer button {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  font-family: "Ubuntu";
  border-radius: 3px;
  position: absolute;
  color: white;
  font-size: 2.5vh;
  max-width: 47.5%;
}

#mainContainer #ArrowUp {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

#mainContainer #ArrowLeft {
  left: 0;
  bottom: 50%;
  transform: translate(0, 50%);
}

#mainContainer #ArrowRight {
  right: 0;
  bottom: 50%;
  transform: translate(.5%, 50%);
}

#mainContainer #ArrowDown {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -17.5%);
}

#previousImageContainer {
  position: absolute;
  width: auto;
  margin-top: 5vh;
  left: 50%;
  transform: translateX(-50%)
}

#previousImageContainer #previousImage {
  position: relative;
  height: 15vh;
  vertical-align: middle;
}

#previousImageContainer #previousImageContent {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: lightgrey;
  font-size: 12px;
  width: 100%;
  height: 100%;
}

#previousImageContainer #previousImageContent:hover {
  background: rgba(0, 0, 0, 0);
  color: white;
  font-size: 0;
}

#scoreContainerWrap {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1vh;
}

.scoreContainer {
  position: relative;
  display: inline-block;
  border-radius: 1vh;
  width: 8vh;
  height: 7vh;
}

.scoreContainer .score {
  position: absolute;
  font-size: 4vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#correctScoreContainer {
  background-color: Green;
}

#incorrectScoreContainer {
  background-color: FireBrick;
}

#repeatContainer {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  margin-top: 1vh;
}

#repeatContainer div {
  display: inline-block;
  transform: translateY(-20%);
}
